<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>


<!-- Page Content -->
<div class="container">
    <form th:action="@{/forgotpassword}" method="post">
        <label for="username">Username/Email</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
        <input type="submit" value="Submit" />
    </form>
</div>
<br/>
<div class="container">
    <a href="/login" th:href="@{/login}">Login</a>
</div>

<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>