<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>


<!-- Page Content -->
<div class="container">
    <form th:action="@{/login.html}" method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" /> <br />
        <input type="submit" value="Log in" />
    </form>
</div>
<br/>
<div class="container">
    <a href="/forgotpassword" th:href="@{/forgotpassword}">Forgot Password</a>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>